@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/urbanist/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/urbanist/Urbanist-Medium.ttf') format('truetype');
}

:root {
    --primary-color: 242, 207, 137;
    --dark-color: 27, 26, 31;
    --light-color: 255, 255, 255;

    --urbanist-regular: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --urbanist-medium: 'urbanist-medium', Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--urbanist-medium) !important;
    color: rgba(var(--light-color), 1);
    transition: 250ms !important;
}

body {
    background-color: rgba(var(--dark-color), 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 150%;
    margin-bottom: 0;
}

p.paragraph {
    font-size: 1rem;
    color: rgba(var(--light-color), 0.72);
}

p.paragraph-small {
    font-size: 0.938rem;
    color: rgba(var(--light-color), 0.72);
}

/* COMPONENT STYLE */
section.section-gap {
    margin-top: 122px;
}

.row.row-gap {
    margin-bottom: 56px
}

.headline {
    line-height: 122%;
    font-size: 3rem;
    color: rgba(var(--light-color), 0.52);
}

.title {
    color: rgba(var(--light-color), 0.52);
    font-size: 2.5rem;
    line-height: 122%;
}

.headline .light,
.title .light {
    color: rgba(var(--light-color), 1);
}

.headline .primary,
.title .primary {
    color: rgba(var(--primary-color), 1);
}

h6 {
    color: rgba(var(--light-color), 1);
}

.button-light {
    width: fit-content;
    background-color: rgba(var(--light-color), 1);
    padding: 14px 20px;
    border-radius: 9999px;
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 1);
    border: none;
    outline: none;
    stroke: none;
    text-decoration: none;
}

.button-default {
    width: fit-content;
    background-color: rgba(var(--primary-color), 1);
    padding: 16px 28px;
    border-radius: 9999px;
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 1);
    border: none;
    outline: none;
    stroke: none;
    text-decoration: none;
}

.button-reverse {
    width: fit-content;
    background-color: transparent;
    padding: 4px 4px 4px 28px;
    border-radius: 9999px;
    font-size: 0.913rem;
    color: rgba(var(--light-color), 1);
    border: 1px solid rgba(var(--light-color), 1);
    outline: none;
    stroke: none;
    text-decoration: none;
}

.button-reverse .arrow-icon {
    width: 43px;
    height: 43px;
    background-color: rgba(var(--light-color), 1);
    border-radius: 9999px;
}

.button-light:hover,
.button-default:hover,
.button-reverse:hover {
    opacity: 0.8;
}

.card-default {
    background-color: #1F1E23;
    border-radius: 14px;
    padding: 26px;
}

.wrapper-profile {
    background-color: #242329;
    border-radius: 8px;
    padding: 8px;
    width: fit-content;
    height: fit-content;
}

.wrapper-banner {
    background-color: #1F1E23;
    padding: 20px;
    border-radius: 24px;
}

.wrapper-banner > img {
    border-radius: 12px;
}

.section-gap {
    margin-top: 122px !important;
}

.subtitle {
    color: rgba(var(--primary-color), 1);
    font-size: 0.875rem;
}

.primary {
    color: rgba(var(--primary-color), 1);
}

.paragraph.light {
    color: rgba(var(--light-color), 1);
}

.swiper-pagination-judges,
.swiper-pagination-testimoni {
    z-index: 9999;
    top: 0;
    left: 0;
    transform: translateY(56px);
}

.swiper-pagination-bullet {
    background-color: rgba(var(--light-color), 0.52) !important;
    width: 10px !important;
    height: 10px !important;
    margin: 0 2px !important;
}

.swiper-pagination-bullet-active {
    width: 28px !important;
    background-color: rgba(var(--light-color), 0.52) !important;
    border-radius: 6px;
}
/* END COMPONENT STYLE */


/* COMPONENT NAVBAR */
.navbar .nav-link {
    color: rgba(var(--light-color), 0.52);
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: rgba(var(--light-color), 1);
}
/* END COMPONENT NAVBAR */

/* SECTION HERO */
.hero {
    height: 88vh;
}
/* END SECTION HERO */


/* SECTION SCHEDULE */
.schedule .button-light {
    background-color: transparent;
    border: 1px solid rgba(var(--light-color), 1);
    width: 100%;
    color: rgba(var(--light-color), 1);
}

.schedule .button-light:hover {
    background-color: rgba(var(--light-color), 1);
    color: rgba(var(--dark-color), 1);
    opacity: 1;
}
/* END SECTION SCHEDULE */


/*  SECTION RULE */
.wrapper-number {
    width: 56px;
    height: 56px;
    background-color: #242329;
    border-radius: 8px;
}

.wrapper-number > h3 {
    font-size: 1.625rem;
    font-weight: bold;
}
/* END SECTION RULE */


/* SECTION FAQ */
.accordion-item {
    border: none !important;
    outline: none !important;
    stroke: none !important;
    background-color: #1F1E23 !important;
}

.accordion-button {
    box-shadow: none !important;
    padding: 24px !important;
    background-color: #1F1E23 !important;
}

.accordion-body > p {
    border-top: 1px solid rgba(var(--light-color), 0.12);
}

.accordion-button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: #242329;
    background-image: url('../img/icon/arrow-down-icon.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

/* .accordion-button:not(.collapsed)::before {
} */

.accordion-button::after {
    display: none;
    /* width: 10px;
    height: 10px;
    background-image: url('../img/icon/arrow-down-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

/* END SECTION FAQ */


/* CTA */
.cta {
    background-color: #1F1E23;
    border-radius: 36px;
    padding: 82px 0;
    position: relative;
    overflow: hidden;
}

.cta::before {
    content: "";
    position: absolute;
    transform: translateY(-50%) rotate(30deg);
    top: 90%;
    right: 0;
    width: 50%;
    height: 230%;
    background-color: #242329;
    border-radius: 9999px;
}
/* END CTA */


/* FOOTER */
.footer {
    padding-top: 122px;
    margin-top: 122px;
}

.footer h6 {
    color: rgba(var(--light-color), 1);
}

.footer .paragraph-small {
    font-size: 0.913rem;
    color: rgba(var(--light-color), 0.72);
    text-decoration: none;
}

.footer a.paragraph-small:hover {
    color: rgba(var(--light-color), 1);
}

.sosmed-icon {
    width: 44px;
    height: 44px;
    background-color: #1F1E24;
    border-radius: 6px;
}

.sosmed-icon:hover {
    background-color: #24232A;
}

.copyright {
    padding: 22px 0 !important;
    border-top: 1px solid rgba(var(--light-color), 0.12);
}

.copyright p {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.32);
    font-family: var(--urbanist-regular) !important;
}
/* END FOOTER */


/* BREAKPOINT XL */
@media (max-width: 1399.98px) {
    .headline {
        font-size: 2.5rem;
    }
    
    .title {
        font-size: 2.125rem;
    }
}
/* END BREAKPOINT XL */


/* BREAKPOINT LG */
@media (max-width: 1199.98px) {
    .headline {
        font-size: 2.25rem;
    }
    
    .title {
        font-size: 1.928rem;
    }
}
/* END BREAKPOINT LG */


/* BREAKPOINT MD */
@media (max-width: 991.98px) {
    .hero {
        height: fit-content;
    }

    .title {
        margin-bottom: 16px;
    }

    .row.row-gap {
        margin-bottom: 42px
    }
}
/* END BREAKPOINT MD */


/* BREAKPOINT SM */
@media (max-width: 767.98px) {
    .headline {
        font-size: 2rem;
    }
    
    .title {
        font-size: 1.875rem;
    }
}
/* END BREAKPOINT MD */